@import url('../../.cache/wal/colors-waybar.css');

* {
    font-size: 10px;
    font-family: "JetBrainsMono Nerd Font", monospace;
}
window#waybar{
    background: alpha(@background, .9);
}
.modules-left {
    padding:1px;
    margin:2 0 2 2;
    border-radius:5px;
}
.modules-center {
    padding:1px;
    margin:2 0 2 0;
    border-radius:5px;
}
.modules-right {
    padding:1px;
    margin: 2 2 2 0;
    border-radius:5px;
}
tooltip {
    background:alpha(@background,.6);
    color: @color7;
}
#clock:hover, #custom-updates:hover, #custom-power:hover, #pulseaudio:hover{
    transition: all .3s ease;
    color:@color9;
}
#custom-power {
    padding: 0px 0px;
    transition: all .3s ease;
    color:@color7;
}
#clock{
    padding: 0px 2px;
    color:@color7;
    transition: all .3s ease;
}
#custom-updates{
    padding: 0px 4px 0px 2px;
    transition: all .3s ease;
    color:@color7;

}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@foreground,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:@foreground;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @foreground;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: @foreground;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: @foreground;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @foreground;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#battery{
    padding: 0px 4px 0px 0px;
    transition: all .3s ease;
    color:@color7;


}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}

#network{
    padding: 0px 9px 0px 2px;
    transition: all .3s ease;
    color:@color7;

}
#backlight{
    padding: 0px 6px 0px 0px;
    transition: all .3s ease;
    color:@color7;

}
#pulseaudio{
    padding: 0px 8px 0px 0px;
    transition: all .3s ease;
    color:@color7;

}
#tray{
    padding: 0px 5px;
    transition: all .3s ease; 

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-r_end {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    padding-left: 3px;
}

